<div class="main-container">
    <header>
        <h1>Real-Time Event Ticketing System</h1>
    </header>
    <div class="content-row">
        <div class="left-column">
            <div class="graph-container">
                <app-dashboard></app-dashboard>
            </div>
            <div class="terminal-container">
                <app-log-terminal></app-log-terminal>
            </div>
        </div>
        <div class="setup-container">
            <app-configuration></app-configuration>
        </div>
    </div>
</div>